*

!.gitignore
!CMakeLists.txt
!Makefile
!COPYING
!README.md

!src/
!src/*
!src/**

!includes/
!includes/*
!includes/**

# Ignore generated directory includes/assets
includes/assets/*

!lib/
!lib/*

!assets/
!assets/*
!assets/**
